.body {
  background-color:#CC7D37;
}

.content {
  max-width: 320px;
  margin: auto;

}
.grid-container {
  display: inline-grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px;
 
}
.grid-item {
  width: 70px;
  height: 70px;
  position: relative;
  display: inline-grid;

}
.grid-item .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  
}

.grid-item:hover .img-top{
  display: inline;
  
  }
